{% extends 'test_app/base.html' %}

{% block title %}GASYR Foundation School Form{% endblock %}

{% block content %}
{% load static %} <!-- Django template tag to load static files -->

<style>
  body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .logo {
    text-align: center;
    margin: 50px 0;
  }
  .logo img {
    max-width: 200px;
    opacity: 0.5;
  }
  .form-container {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type=text], input[type=tel], input[type=email], select, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    background: #a10000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    background: #950000;
  }
</style>

<div class="logo">
    <img src="{% static 'test_app/images/logo2.svg' %}" alt="GASYR Foundation School Logo">
</div>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_first_name">Имя/Аты</label>
            <input type="text" name="first_name" id="id_first_name" required>
        </div>
        <div class="form-group">
            <label for="id_last_name">Фамилия/Тегi</label>
            <input type="text" name="last_name" id="id_last_name" required>
        </div>
        <div class="form-group">
            <label for="id_email">Почта</label>
            <input type="email" name="email" id="id_email" required>
        </div>
        <div class="form-group">
            <label for="id_phone_number">Номер</label>
            <input type="text" name="phone_number" id="id_phone_number" required>
        </div>
        <div class="form-group">
            <label for="id_language">Язык/Тiл</label>
            <select name="language" id="id_language" required>
                <option value="RU">Russian</option>
                <option value="KZ">Kazakh</option>
            </select>
        </div>
        <button type="submit">Начать/Бастау</button>
    </form>
</div>
{% endblock %}
