/* button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 28px 85px;
gap: 10px;

position: absolute;
width: 456px;
height: 81px;
left: calc(50% - 456px/2);
top: calc(50% - 81px/2 + 306.5px);

background: #BA2025;
border-radius: 5px;


/* Начать тестирование */

width: 286px;
height: 25px;

font-family: 'Averta CY';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 140%;
/* or 25px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* language */

position: absolute;
width: 466px;
height: 102px;
left: 727px;
top: 305px;



/* Выберите язык / Тілді тандаңыз */

position: absolute;
left: 37.86%;
right: 47.81%;
top: 28.24%;
bottom: 69.44%;

font-family: 'Averta CY';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
/* or 25px */

color: #222222;



/* russian */

position: absolute;
width: 228px;
height: 67px;
left: 727px;
top: 340px;



/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
width: 228px;
height: 67px;
left: 727px;
top: 340px;

background: #BA2025;
border: 1px solid #D8D8D8;
border-radius: 5px;


/* 🇷🇺 Русский */

position: absolute;
width: 93px;
height: 25px;
left: 795px;
top: 361px;

font-family: 'Averta CY';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
/* or 25px */
text-align: center;

color: #FFFFFF;



/* qazaq */

position: absolute;
width: 228px;
height: 67px;
left: 965px;
top: 340px;



/* Rectangle 4 */

box-sizing: border-box;

position: absolute;
width: 228px;
height: 67px;
left: 965px;
top: 340px;

border: 1px solid #D8D8D8;
border-radius: 5px;


/* 🇰🇿 Қазақ тілі */

position: absolute;
width: 108px;
height: 25px;
left: 1025px;
top: 361px;

font-family: 'Averta CY';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
/* or 25px */
text-align: center;

color: #000000;

/* name */

position: absolute;
width: 466px;
height: 103px;
left: 727px;
top: 427px;

/* phone */

position: absolute;
width: 466px;
height: 103px;
left: 727px;
top: 550px;

/* mail */

position: absolute;
width: 466px;
height: 103px;
left: 727px;
top: 673px;


