<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="form-container">
  <h2>Насколько важным для Вас является каждое из следующих утверждений?
    Варианты ответов: 0 – абсолютно не важно,  1,2,3,4,5,6,7,8,9 – исключительно важно</h2>
  {% for item in object_list %}
    {{ item.quest }}
    <form class="answer-form" action="question/" method="post">

      <label for="your_answer">ваш ответ: </label>
      <input class="answer-input" type="text" name="answer" placeholder="Введите свой ответ"  maxlength="1" min="1" max="10" required>

    </form>
      <br/>
  {% endfor %}

  <h2>
      Насколько Вы согласны с каждым из следующих утверждений?
  </h2>
  {% for item in object_list %}
    {{ item.quest2 }}
    <form class="answer-form" action="question/" method="post">

      <label for="your_answer">ваш ответ: </label>
      <input class="answer-input" type="text" name="answer" placeholder="Введите свой ответ"  maxlength="1" min="1" max="10" required>

    </form>
      <br/>
  {% endfor %}
  <button id="submit-button" type="submit">Отправить</button>
</div>

<script>
  document.getElementById('submit-button').addEventListener('click', function(event) {
  event.preventDefault(); // Остановка отправки формы, чтобы JavaScript мог обработать данные

  var answerInputs = document.querySelectorAll('.answer-input');
  var totalSum = 0;
  var isEmpty = false; // Флаг, указывающий на наличие пустого ввода

  answerInputs.forEach(function(input) {
    var inputValue = parseFloat(input.value);
    if (!isNaN(inputValue)) {
      totalSum += inputValue + 1;
    } else {
      isEmpty = true; // Если значение пустое, устанавливаем флаг
    }
  });

  if (isEmpty) {
    alert('Пожалуйста, заполните все поля.'); // Выводим предупреждение
    return; // Прерываем выполнение функции, чтобы не продолжать вычисления
  }

  console.log(totalSum)
});
</script>
</body>
</html>