{% load static %}

{% block content %}
<style>
@font-face {
    font-family: 'Averta Demo PE';
    src: url('{& static 'test_app/font/AvertaDemoPE-Regular.eot'}');
    src: local('Averta Demo PE Regular'), local('AvertaDemoPE-Regular'),
        url('static/test_app/font/AvertaDemoPE-Regular.eot?#iefix') format('embedded-opentype'),
        url('static/test_app/font/AvertaDemoPE-Regular.woff2') format('woff2'),
        url('static/test_app/font/AvertaDemoPE-Regular.woff') format('woff'),
        url('static/test_app/font/AvertaDemoPE-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta Demo PE';
    src: url('static/test_app/font/AvertaDemoPE-ExtraboldItalic.eot');
    src: local('Averta Demo PE Extrabold Italic'), local('AvertaDemoPE-ExtraboldItalic'),
        url('static/test_app/font/AvertaDemoPE-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('static/test_app/font/AvertaDemoPE-ExtraboldItalic.woff2') format('woff2'),
        url('static/test_app/font/AvertaDemoPE-ExtraboldItalic.woff') format('woff'),
        url('static/test_app/font/AvertaDemoPE-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

body {
    font-family: 'Averta Demo PE', Arial, sans-serif;
}
.base {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    background: #f5f5f5;
    min-height: 100vh;
}
.content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 16px;
}
.top-row {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.logo-container {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.logo {
    width: 150px; /* Adjust the logo size */
    height: auto;
    margin-bottom: 300px; /* Align to top */
}

.text-containers {
    display: inline-block;
    margin-left: auto;
    text-align: right;
}
.banner {
    position: relative; /* This is needed to position the pseudo-element correctly */
    background-color: #BA2025;
    color: white;
    padding: 50px;
    border-radius: 8px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('{% static 'test_app/images/purple.png' %}'); /* Replace with your image path */
    background-repeat: no-repeat;
    background-size: cover; /* Or any other value depending on your design */
    width: 100%; /* Adjust if needed */
    height: 100%; /* Adjust if needed */
    opacity: 0.6; /* Adjust for desired transparency */
    pointer-events: none; /* This prevents the pseudo-element from blocking your button interactions */
}

.test-card {
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.test-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.test-card img {
    align-self: flex-start; /* Aligns the image to the top-left */
    width: auto; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    margin-right: auto; /* Ensures the image stays to the left */
}

.test-card2 {
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This spreads out the children */
    height: 400px;
}

.test-card2-image-container {
    align-self: flex-start; /* Aligns the container to the top */
    width: 100%; /* Ensures the container spans the full width */
    text-align: left; /* Aligns the image to the left */
    margin-bottom: auto; /* Pushes everything else to the bottom */
}

.test-card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.button {
    display: inline-block;
    background: #BA2025;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.button:hover {
    background-color: #a51d22;
}

.button2 {
    background: white;
    color: #BA2025;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #BA2025; /* Optional border */
}

.button2:hover {
    background-color: #f8f8f8;
}


@media (max-width: 768px) {
    .top-row, .text-containers, .grid {
        display: block;
    }
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    /* Adjust grid to have 2 columns instead of 3 */
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .top-row, .text-containers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-container, .text-containers, .banner, .test-card, .test-card2 {
        width: 100%; /* Full width */
        max-width: none; /* Overrides any max-width */
    }

    .banner, .test-card, .test-card2 {
        padding: 30px; /* Adjust padding for smaller screens */
        height: auto; /* Height auto for smaller screens */
    }

    /* Adjust grid to have 1 column on small screens */
    .grid {
        grid-template-columns: 1fr;
    }

    /* Additional adjustments for smaller screens */
    .test-card img, .test-card2-image-container {
        align-self: center; /* Center images on smaller screens */
        margin-right: 0; /* Remove any right margin */
    }

    /* Adjust button size for smaller screens if necessary */
    .button, .button2 {
        padding: 0.5rem 1rem; /* Smaller padding */
        font-size: 14px; /* Smaller font size */
    }
}

/* If you have very large screens, you can add this */
@media (min-width: 1440px) {
    .content, .top-row {
        width: 90%;
        max-width: 1400px; /* Or any other max-width that suits your design */
    }

    /* For very large screens, you might want to increase the size of text and other elements */
    .banner h1, .test-card h2, .test-card2-text-container h2 {
        font-size: 36px; /* Larger font size for larger screens */
    }
}

</style>

<div class="base">
    <div class="top-row">
        <div class="logo-container">
            <img src="{% static 'test_app/images/logo2.svg' %}" alt="GASYR" class="logo">
        </div>
        <div class="text-containers">
            <div class="banner">
                <h1>ТЕСТ НА ПРОФЕССИОНАЛЬНУЮ ОРИЕНТАЦИЮ</h1>
                <a href="{% url 'test_view' user_data_id %}" class="button2">ПРОЙТИ ТЕСТИРОВАНИЕ</a>
            </div>

        </div>
        <div class="test-card2">
    <!-- Position the image at the top left -->
    <div class="test-card2-image-container">
        <img src="{% static 'test_app/img/account-circle-line%201.svg' %}" alt="Individual Characteristics Test">
    </div>

    <!-- Group text and button together -->
    <div class="test-card2-text-container">
        <h2>Тест на индивидуальную особенность</h2>
        <a href="{% url 'survey' user_data_id %}" class="button">пройти тест</a>
    </div>
</div>
    </div>
    <div class="content">
    <div class="grid">
        <div class="test-card">
            <img src="{% static 'test_app/img/map-2-line%201.svg' %}" alt="Interest Map Test">
            <h2>Тест на карту интересов</h2>
            <a href="{% url 'preference_test' user_data_id %}" class="button">пройти тест</a>
        </div>
        <div class="test-card">
            <img src="{% static 'test_app/img/star-line%201.svg' %}" alt="Career Values Test">
            <h2>Тест на диагностику ценностных ориентаций в карьере</h2>
            <a href="{% url 'career_anchor_test' user_data_id %}" class="button">пройти тест</a>
        </div>
        <div class="test-card">
            <img src="{% static 'test_app/img/Vector.svg' %}" alt="Professional Preferences Test">
            <h2>Тест на профессиональные предпочтения</h2>
            <a href="{% url 'holland_test' user_data_id %}" class="button">пройти тест</a>
        </div>
    </div>
</div>

</div>

{% endblock %}
