{% extends 'test_app/base.html' %}

{% block title %}GASYR Foundation School Form{% endblock %}

{% block content %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Qanelas:400,700" rel="stylesheet">

<style>
    body, input, button, select, label {
        font-family: 'Qanelas', Arial, sans-serif;
    }

    body {
        background: #F8F8F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .form-container {
        width: 35%;
        background: white;
        padding: 30px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        max-width: 580px;
        min-width: 300px;
        border: 1px solid #ddd;
        position: relative;
    }
    .form-header {
        text-align: left;
        margin-bottom: 30px;
    }
    .form-header h1 {
        font-size: 22px;
        margin: 0;
    }
    .language-selection {
        display: flex;
        justify-content: start;
        gap: 10px;
    }

    .language-option {
        height: 30px;
        width: 45%;
        padding: 10px 10px;
        margin: 0;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
    }

    .language-option:hover, .language-option.active {
        background-color: #d9534f;
        color: white;
        border-color: #d9534f;
    }

    .language-option input[type="radio"] {
        display: none;
    }

    .form-group {
        margin-bottom: 25px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        color: #333;
        font-weight: bold;
    }
    input[type=text], input[type=tel], input[type=email], select, button {
        width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button {
        background: #d9534f;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
        border-radius: 4px;
    }
    button:hover {
        background: #c9302c;
    }
</style>

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        <div class="form-header">
            <h1>GASYR Foundation School</h1>
            <div class="language-selection">
                <label class="language-option">
                    <input type="radio" name="language" value="RU" id="language_ru" hidden checked>
                    <span>🇷🇺 Русский</span>
                </label>
                <label class="language-option">
                    <input type="radio" name="language" value="KZ" id="language_kz" hidden>
                    <span>🇰🇿 Қазақ тілі</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="id_first_name">Имя</label>
            <input type="text" placeholder="Гасыр" name="first_name" id="id_first_name" required>
        </div>
        <div class="form-group">
            <label for="id_last_name">Фамилия</label>
            <input type="text" placeholder="Якубович" name="last_name" id="id_last_name" required>
        </div>
        <div class="form-group">
            <label for="id_phone_number">Номер телефона</label>
            <input type="tel" placeholder="+7 ( ___ ) ____ - __ - __" name="phone_number" id="id_phone_number" required>
        </div>
        <div class="form-group">
            <label for="id_email">Электронная почта</label>
            <input type="email" placeholder="gasyr@gmail.com" name="email" id="id_email" required>
        </div>
        <button type="submit">Начать тестирование</button>
    </form>
</div>

<script>
document.querySelectorAll('.language-option').forEach(option => {
  option.addEventListener('click', () => {
    document.querySelectorAll('.language-option').forEach(opt => opt.classList.remove('active'));
    option.classList.add('active');
  });
});
</script>

{% endblock %}
